* {
    font-family: Helvetica;
}

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 250, 250, 0.75);
    display: grid;
    grid-gap: 10px;
    align-content: start;
}

body {
    background-image: url("Delta.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#header {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: skyblue;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    line-height: 100px;
}

#pilt {
    display:inline-block;
    grid-column: 1/2;
}

#tekst {
    width: 400px;
    display: inline-block;
    text-align: left;
    grid-column: 2/3;
}
img {
    width: 400px;
}

#container > div {
    padding: 5px;
    margin: 5px;
}

#kontakt {
    grid-column: 1/2;
}
#valdkonnad {
    grid-column: 2/3;
}
#slideshow {
    grid-column: 1/3;
}
.slide {
    margin: auto;
    height: 300px;
    width: 480px;
}
